<h1>Laura is my mother!</h1>

<h2>Tacos:</h2>


<% tacos = ["Carnitas", "Avocado", "Fish"] %>

<p>
There are so many god damn tacos!: <%= tacos.length %>
</p>

<ul>
  <li>Laura's Mom</li>
  <li>Laura's Dad</li>
  <li>Laura's Brother</li>
</ul>